body {
    background-color: #040;
    color: white;
    font-family: 'Quicksand';
    margin: 0px;
}
a:link{
    color: cyan;
}
a:hover{
    color: blue;
}
a:visited{
    color: rgb(33, 156, 64);
}
h1{
    color: #00ff00;
    font-weight: 800;
}
h2{
    color: rgb(0, 238, 255);
    font-weight: 600;
}
h3{
    color: #3388ff;
    font-weight: 400;
}
nav a{
    text-decoration: none;
    border-style: outset;
}
.math{
    font-family:'Trebuchet MS';
    border-color: white;
    border-style:solid;
    border-radius: 25px;
    width: fit-content;
    padding: 2px;
    margin: 2px;
}
.problem .math{
    display: inline-block;
    
}
/*comment*/
p{
    font-weight: 300;
    text-align: left;
}
figure.by{
    display: flex;
    margin: 0px;
}
figure.by img{
    display: block;
    align-self:center;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
figure.problem img{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-color: #ffffff;
    border-width: 5%;
}
figure.problem figcaption{
    text-align: center;
    background-color: #000044;
    color: #3388ff;
    padding: 3%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
header{
    background-color: rgb(0, 0, 145);
    border-color: rgb(33, 156, 64);
    border-style: groove;
    border-radius: 25px;
    border-width: 5px;
    display: flex;
}
main{
    background-color: black;
    padding: 8px;
}
footer{
    margin: 10px;
    background-color: #004400;
    clear: both;
}
header h1 {
    color: white;
}
nav ul {
    list-style-type:square;
    background-color: rgb(0, 73, 78);
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
}
ul{
    list-style-type:circle;
}
ol{
    list-style-type: upper-roman;
}
nav a{
    font-size:larger;
}
dl, ul, ol{
    background-color: #000044;
    text-align: left;
}
dt{
    text-align: center;
    border-style: dashed;
    width: fit-content;
    border-color: #66ffff;
    margin: 0 auto;
}
dd{
    text-align: center;
}
dd.math{
    margin: 2px auto;
}
nav a:visited{
    color: rgb(0, 238, 255);
}
nav a:hover{
    color: rgb(0, 238, 255);
}
nav {
    background-color: rgb(0, 73, 78);
    padding: 4px;
}
input[type=submit]{
    border-radius: 10px;
    border-style: solid;
    border-color: #FFF;
}
input[type=submit]:focus{
    border-color: #0FF;
    border-style: dashed;
}
input {
    font-family: 'Quicksand';
    font-weight: 600;
    display: block;
    background-color: #000;
    color: #FFF;
    margin: 1%;
}
.select input{
    display: inline;
}
.select{
    display: block;
}
textarea {
    font-family: 'Quicksand';
    font-weight: 600;
    display: block;
    background-color: #000;
    color: #FFF;
    margin: 1%;
}
select {
    font-family: 'Quicksand';
    font-weight: 600;
    display: block;
    background-color: #000;
    color: #FFF;
    margin: 1%;
}