/* #region regular format*/
*{
    background-color: black;
    color: white;
    font-family: 'Quicksand';
}
/* #region header*/

header{
    background-image: url(images/Bread.png);
    background-size: contain;
}

header img{
    display: inline;
    border-radius: 100vmin;
}
header div{
    display: inline;
    align-self: center;
    padding-left: 2vw;
}
header div{
    background-color: #0000;
    *{
        background-color: #0000;
    }
}
header{
    display: flex;
    
    align-items: center;
}
/* #endregion*/
/* #region nav*/
nav{
    margin:auto;
}
nav ul{
    display:flex;
    padding: 0px;
}
nav ul{
    justify-content: center;
    background-color: darkblue;
    *{
        background-color: darkblue;
    }
}
nav ul>li{
    list-style-type: none;
    margin: 1vmin;
    padding: 1vmin;
    border:solid;
    border-radius:2vmin;
    text-align: center;
}
nav ul>li a{
    text-decoration: none;
}
nav ul>li:has(a:focus){
    border-color: #0ff;
}
nav ul>li a:focus{
    color: #0ff;
}
nav ul>li a:hover{
    color: #0ff;
}
nav ul>li:has(a:hover){
    border-color: #0ff;
}
/* #endregion */
/* #region main*/
main{
    background-image: linear-gradient(#000,#000,#000,#666,#fff);
}
main *{
    background-color: #00000000;
}
/* #endregion */
/* #region footer */
footer{
    background-color: #fff;
}
/* #endregion */
/* #endregion */    
/* #region Mobile Navigation Styling*/
@media screen and (max-width: 300px) {
    nav ul{
        display: block;
    }
}


/* #endregion */
